@font-face {
    font-family: "Schoolbell";
    src: url(pictures/Schoolbell-Regular.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Schoolbell";
}
body{
    background-image: url(pictures/background.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    padding-block: 64px;
    padding-inline: 32px;
}
main{
    min-width: 90vw;
    min-height: calc(100vh - 128px);
    background-color: #ffffff;
    border-radius: 12px;
    border: 3px solid black;
    margin: auto;
    grid-area: main;
}
.section{
    padding:32px;
    grid-area: section;
    display: grid;
}
.nav{
    color:#8d5b1a;
    background-color: #feda70;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 12px;
    grid-area: nav;
    text-align: center;
    border: 1px black solid;
    display: inline-block;
    text-decoration: none;
}
article {
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-area: article;
    
}

article img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
.footer{
    text-align: center;
    background-color: #8d5b1a;
    color: #feda70;
    max-width: 1080px;
    margin: auto;
}