@font-face {
    font-family: "Schoolbell";
    src: url(pictures/Schoolbell-Regular.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Schoolbell";
}
body{
    background-image: url(pictures/background.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;
    padding-block: 64px;
    padding-inline: 32px;
}
main{
    min-width: 90vw;
    min-height: calc(100vh - 128px);
    border-radius: 12px;
    border: 3px solid black;
    margin: auto;
    background-color: white;
    text-align: center;
}

.section{
    padding:32px;
}
.nav{
    grid: nav;
    text-align: center;
}
li {
    grid-area: nav;
    display: inline-block;
    list-style: none;
    color: #8d5b1a;
    background-color: #feda70;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 12px;
    border: 3px solid black;
    text-align: center;


}
.article {
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    text-align: left;
}


.article h1{
    font-size: 28px;
    font-weight: 400;
}
.article h2{
    font-size: 56px;
    font-weight: 400;
}
.article p{
    font-size: 24px;
    font-weight: 400;
}

.img{
  width: 500px;
  height: 500px;
  object-fit: cover;
  align-items: right;
  
  
}
.footer{
    text-align: center;
    background-color: #8d5b1a;
    color: #feda70;
    max-width: 1080px;
    margin: auto;
    border-radius: 5px;
    grid-area: footer;
}
table {
    max-width: 100%;
    grid-area: table;
    margin: auto;
    min-width: 1080px;
}

table,
tbody,
thead,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;

}


tr:nth-child(odd) {
    background-color: #8d5b1a;
    color: #feda70;
    font-size: 14px;

}

tr:nth-child(even) {
    background-color: #feda70;
    color: black;
    font-size: 14px;
}

.aside{
    text-align: center;
}
section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "kettocol"
        "table"
        "footer";
    padding: 32px;

}
.grid{
    grid-area: kettocol;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "article kep";
    text-align: left;}
b{
    color: #8d5b1a;
}